{:paths ["src"],
 :deps
 {metosin/muuntaja {:mvn/version "0.6.8"},
  ring/ring-defaults {:mvn/version "0.3.2"},
  biff/util
  {:git/url "https://github.com/modelingcooperation/biff",
   :deps/root "libs/util",
   :sha "f7ae7b06278ca62a57bf828c7554a66add50b6fa"}}}
