{:paths ["src"],
 :deps
 {metosin/muuntaja #:mvn{:version "0.6.8"},
  ring/ring-defaults #:mvn{:version "0.3.2"},
  biff/util
  {:git/url "https://github.com/modelingcooperation/biff",
   :deps/root "libs/util",
   :sha "e9fb558a9beba41dcf01a2a7aaf8ad6d10cfbd78"}}}
