{:paths ["src"],
 :deps
 {metosin/muuntaja #:mvn{:version "0.6.8"},
  ring/ring-defaults #:mvn{:version "0.3.2"},
  biff/util
  {:git/url "https://github.com/modelingcooperation/biff",
   :deps/root "libs/util",
   :sha "ddd7fc1b9aa595bc2715813c6684a5d66a356a49"}}}
