{:paths ["src"],
 :deps
 #:biff{crux
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/crux",
         :sha "d3994ea199d7926db86ad1521f40034442700f42"},
        util
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/util",
         :sha "d3994ea199d7926db86ad1521f40034442700f42"},
        misc
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/misc",
         :sha "d3994ea199d7926db86ad1521f40034442700f42"}}}
