{:paths ["src"],
 :deps
 #:biff{crux
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/crux",
         :sha "0f17f8f27cba1caa3b865810274a1fa142040e5b"},
        util
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/util",
         :sha "0f17f8f27cba1caa3b865810274a1fa142040e5b"},
        misc
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/misc",
         :sha "0f17f8f27cba1caa3b865810274a1fa142040e5b"}}}
