{:paths ["src" "resources"],
 :deps
 {buddy/buddy-sign #:mvn{:version "3.4.1"},
  selmer/selmer #:mvn{:version "1.12.40"},
  biff/util
  {:git/url "https://github.com/modelingcooperation/biff",
   :deps/root "libs/util",
   :sha "d3994ea199d7926db86ad1521f40034442700f42"}}}
