{:paths ["src" "resources"],
 :deps
 {buddy/buddy-sign {:mvn/version "3.4.1"},
  selmer/selmer {:mvn/version "1.12.40"},
  biff/util
  {:git/url "https://github.com/modelingcooperation/biff",
   :deps/root "libs/util",
   :sha "a915c9fbe1940b5ef6734cfd76af5d6cd4c3966b"}}}
