{:deps
 #:biff{main
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/main",
         :sha "d3994ea199d7926db86ad1521f40034442700f42"},
        dev
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/dev",
         :sha "d3994ea199d7926db86ad1521f40034442700f42"},
        rum
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/rum",
         :sha "d3994ea199d7926db86ad1521f40034442700f42"},
        crux
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/crux",
         :sha "d3994ea199d7926db86ad1521f40034442700f42"},
        util
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/util",
         :sha "d3994ea199d7926db86ad1521f40034442700f42"},
        client
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/client",
         :sha "d3994ea199d7926db86ad1521f40034442700f42"},
        middleware
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/middleware",
         :sha "d3994ea199d7926db86ad1521f40034442700f42"},
        misc
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/misc",
         :sha "d3994ea199d7926db86ad1521f40034442700f42"}}}
