{:deps
 #:biff{main
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/main",
         :sha "0f17f8f27cba1caa3b865810274a1fa142040e5b"},
        dev
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/dev",
         :sha "0f17f8f27cba1caa3b865810274a1fa142040e5b"},
        rum
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/rum",
         :sha "0f17f8f27cba1caa3b865810274a1fa142040e5b"},
        crux
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/crux",
         :sha "0f17f8f27cba1caa3b865810274a1fa142040e5b"},
        util
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/util",
         :sha "0f17f8f27cba1caa3b865810274a1fa142040e5b"},
        client
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/client",
         :sha "0f17f8f27cba1caa3b865810274a1fa142040e5b"},
        middleware
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/middleware",
         :sha "0f17f8f27cba1caa3b865810274a1fa142040e5b"},
        misc
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/misc",
         :sha "0f17f8f27cba1caa3b865810274a1fa142040e5b"}}}
