{:deps
 #:biff{rum
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/rum",
         :sha "dc8a0606745b1272ff02fa611bb6663f750fcb01"},
        crux
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/crux",
         :sha "dc8a0606745b1272ff02fa611bb6663f750fcb01"},
        util
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/util",
         :sha "dc8a0606745b1272ff02fa611bb6663f750fcb01"},
        client
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/client",
         :sha "dc8a0606745b1272ff02fa611bb6663f750fcb01"},
        middleware
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/middleware",
         :sha "dc8a0606745b1272ff02fa611bb6663f750fcb01"},
        misc
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/misc",
         :sha "dc8a0606745b1272ff02fa611bb6663f750fcb01"}}}
