{:deps
 #:biff{rum
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/rum",
         :sha "e9fb558a9beba41dcf01a2a7aaf8ad6d10cfbd78"},
        crux
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/crux",
         :sha "e9fb558a9beba41dcf01a2a7aaf8ad6d10cfbd78"},
        util
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/util",
         :sha "e9fb558a9beba41dcf01a2a7aaf8ad6d10cfbd78"},
        client
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/client",
         :sha "e9fb558a9beba41dcf01a2a7aaf8ad6d10cfbd78"},
        middleware
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/middleware",
         :sha "e9fb558a9beba41dcf01a2a7aaf8ad6d10cfbd78"},
        misc
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/misc",
         :sha "e9fb558a9beba41dcf01a2a7aaf8ad6d10cfbd78"}}}
