{:deps
 #:biff{rum
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/rum",
         :sha "8c8a74b44c5c304046fb165291daec4527ce10dc"},
        crux
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/crux",
         :sha "8c8a74b44c5c304046fb165291daec4527ce10dc"},
        util
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/util",
         :sha "8c8a74b44c5c304046fb165291daec4527ce10dc"},
        client
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/client",
         :sha "8c8a74b44c5c304046fb165291daec4527ce10dc"},
        middleware
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/middleware",
         :sha "8c8a74b44c5c304046fb165291daec4527ce10dc"},
        misc
        {:git/url "https://github.com/modelingcooperation/biff",
         :deps/root "libs/misc",
         :sha "8c8a74b44c5c304046fb165291daec4527ce10dc"}}}
